<div class="center">
	<ul>
	<li>follow and interact with your favorite fan communities</li>
	<li>join other users to contribute news, images, info, texts, and more</li>
	<li>all communities are moderated for high quality content</li>
	<li>make friends with other cool fans</li>
	<li>the easiest way to create your own fan community and watch them grow</li>
	<li>customize your communities with easy to use widgets and other tools to give your community a unique look</li>
	<ul>
</div>
