<%= form_for(current_user.fanportalrelationships.build(portal_id: @portal.id)) do |f| %>
  <div><%= f.hidden_field :portal_id %></div>
  <%= f.submit "Become Fan", class: "btn btn-large btn-primary" %>
<% end %>
